<div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
        <h2 class="tm-block-title"> Lista de proyectos </h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Estado </th>
                    {{!-- <th scope="col"> Tarea </th> --}}
                    {{!-- <th scope="col"> Grupo </th> --}}
                    <th scope="col"> Inicio </th>
                    <th scope="col"> Fin </th>
                </tr>
            </thead>
            <tbody>
              {{#each proyects}}
                <tr onclick="redirect('/project/{{this.id}}')">
                    <th scope="row"><b> {{this.name}} </b></th>
                    <td>{{#state this.state}}
                        {{/state}}
                    </td>
                    {{!-- <td><b> {{this.desc}} </b></td> --}}
                    {{!-- <td><b></b> {{nameGroup this.group}} </b></td> --}}
                    <td> {{this.start}} </td>
                    <td> {{this.end}} </td>
                </tr>
                {{/each}}
                
            </tbody>
            
        </table>
    </br>
        <a
        href="add-project" method="get" class="btn btn-primary btn-block text-uppercase mb-3"> Agregar nuevo proyecto </a>   
    </div>
</div>
</div>
</div>



<!-- Esto si queres sacalo-->

<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
        <h2 class="tm-block-title"> Notificaciones </h2>
        <div class="tm-notification-items">
            <div class="media tm-notification-item">
                <div class="tm-gray-circle"><img src="img/notification01.jpg" alt="Avatar Image" class="rounded-circle"></div>
                    <div class="media-body">
                        <p class="mb-2"><b> La </b> tarea <b> 1 </b> requiere atencion para ser finalizada. </p> 
                        <a href="#" class="tm-notification-link"> <p>&nbsp;&nbsp; Ver tarea </a>
                        <span class="tm-small tm-text-color-secondary"> - 24 hs restantes </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  function redirect(id){
    window.location.href = id;
  }
</script>
