{{#each project}}
<h1>{{this.name}}</h1><br>
{{#if this.car}}
<img src="data:image/png;base64,{{this.car}}" alt=""><br>
{{/if}}
<h3>Descripción</h3>
<p>{{this.desc}}</p><br>
Inicio: <p>{{this.start}}</p><br>
Fin: <p>{{this.end}}</p>
{{/each}}
<div class="container mt-5">
<div class="row tm-content-row">
<div class="col-12 tm-block-col">
<div class="tm-bg-primary-dark tm-block tm-block-products">
  <div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
            <h2 class="tm-block-title"> Lista de tareas </h2>
      <thead>
        <tr>
          <th scope="col"> Tarea </th>
          <th scope="col"> Estado</th>
          <th scope="col"> Horas </th>
          <th scope="col"> Grupo </th>
          <th scope="col"> Precedencia </th>
          <th scope="col"> Terminada </th>
          {{#if admin}}
          <th scope="col">&nbsp;</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
          
          {{#if admin}}
          {{#each tasks}}
            <tr onclick="window.location.href = '/task/{{this.id}}';">
            <td class="tm-product-name">
              {{#if this.usrInTask}}
              <u>{{this.name}}</u>
              {{else}}
              {{this.name}}
              {{/if}}
              </td>
            <td> {{#state this.state}}{{/state}} </td>
            <td> {{this.hours}} hs</td>
            <td> {{nameGroup this.group}}</td>
            <td>{{precedence this.prec}}</td>
            <td>{{#if this.done}}SI{{else}}NO{{/if}}</td>
            <td>
                <a href="del/{{this.id}}" class="tm-product-delete-link">
                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                </a>
            </td>
            </tr>
          {{/each}}
          {{else}}
            {{#each tasks}}
            <tr>
            <td class="tm-product-name">{{this.name}}</td>
            <td> {{#state this.state}}{{/state}} </td>
            <td> {{this.hours}} hs</td>
            <td> {{nameGroup this.group}}</td>
            <td>{{precedence this.prec}}</td>
            <td>{{#if this.done}}SI{{else}}NO{{/if}}</td>
            </tr>
            {{/each}}
          {{/if}}
      </tbody>
    </table>
  </div>
  {{#if admin}}
  {{!-- <a href="add-task" method="get" class="btn btn-primary btn-block text-uppercase mb-3"> Agregar nueva tarea</a> --}}
  <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block"> Agregar tarea</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/add-task" method="post" class="tm-edit-product-form" name="fproj" onsubmit="return checkSubmit()">
                  {{#each project}}
                  <input type="number" hidden name="proj" value={{this.id}}>
                  {{/each}}
                  <div class="form-group mb-3">
                    <label for="name"> Task Name</label><input id="name" name="name" type="text" class="form-control validate" required/>
                  </div>
                  <div class="form-group mb-3">
                    <label for="desc"> Descripcion</label>
                    <textarea class="form-control validate" rows="3" name="desc"required></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for="group" >Grupo</label>
                    <select class="custom-select tm-select-accounts" id="category" name="group" required>
                      {{#each group}}
                        <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="hours">Horas</label>
                          <input name="hours" type="number" class="form-control validate" data-large-mode="true" required/>
                        </div>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto" style="background: none;">
                  <label for="prec" >Precedencia: </label>
                    <select class="custom-select tm-select-accounts" id="prec" name="prec" required>
                      <option value="-">-</option>
                      {{#each tasks}}
                        <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                </div>
              </div>
              <div class="col-12">
                <input type="submit" class="btn btn-primary btn-block text-uppercase" value="Agregar tarea">
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
</div>
</div>