<!DOCTYPE html>
<html lang="es">
    
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title> Gaara </title>
      {{#if dou}}
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="../css/fontawesome.min.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- nav - sidebar -->       
        <link rel="stylesheet" href="../css/style2.css">
        <link rel="stylesheet" href="../css/extras.min.css">
      {{else}}
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">      
        <!-- nav - sidebar -->
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" href="css/extras.css">
      {{/if}}
  </head>
    
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">       
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1" href="/home" method="get">Gaara</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search" aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/home" method="get">
                  <i class="material-icons">account_circle</i>
                  <span> Inicio </span>
                </a>
              </li>
              <li class="nav-item">
                {{#if admin}}
                <a class="nav-link " href="/groups" method="get">
                  <i class="material-icons">assignment</i>
                  <span>Admin page</span>
                </a> 
                {{/if}}
                
              </li>
            </ul>
          </div>
        </aside>
        <!-- termina barra lateral -->

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- notificaciones -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <!-- Navegador -->
                  <input class="navbar-search form-control" type="text" placeholder="Buscar" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                  <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="nav-link-icon__wrapper">
                      <i class="material-icons">&#xE7F4;</i>
                      <span class="badge badge-pill badge-danger">2</span>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">assignment_turned_in</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <!-- titulo de notificacion -->
                        <span class="notification__category">Notificacion 1</span>
                        <!--  descripcion -->
                        <p>¡Hola @user, usted ha terminado su
                          <span class="text-success text-semibold">proyecto1</span> con exito. ¡Felicitaciones!</p>
                      </div>
                    </a>
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">error</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <span class="notification__category">Notificacion 2</span>
                        <p>¡Hola @user, usted tiene la tarea
                          <span class="text-danger text-semibold">Diseño Web</span> sin terminar.</p>
                      </div>
                    </a>
                    <a class="dropdown-item notification__all text-center" href="#"> Ver todas las notificaciones </a>
                  </div>
                </li>

                <!-- empieza navegador user/admin -->

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{#if dou}}
                    <img class="user-avatar rounded-circle mr-2" src="../img/users/1.png" alt="User Avatar">
                    {{else}}
                    <img class="user-avatar rounded-circle mr-2" src="img/users/1.png" alt="User Avatar">
                    {{/if}}
                    <span class="d-none d-md-inline-block"> {{name}}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    {{#if admin}}
                    <a class="dropdown-item" href="/admin" method="get">
                      <i class="material-icons">&#xE7FD;</i> Admin page </a>
                    {{/if}}
                    <a class="dropdown-item" href="/home" method="get">
                      <i class="material-icons">vertical_split</i> Proyectos </a>
                    <a class="dropdown-item" href="/add-project"  method="get">
                      <i class="material-icons">note_add</i> Nuevo proyecto </a>
                    {{!-- <a class="dropdown-item" href="/add-task"  method="get">
                      <i class="material-icons">note_add</i> Nueva tarea </a> --}}
                    <div class="dropdown-divider"></div>

                    <!-- el logout esta con <a> y vos usaste form, despues fijate eso  -->
                    <a class="dropdown-item text-danger" href="/logout">
                      Logout <i class="material-icons text-danger">&#xE879;</i> </a>
                    <a class="nav-link d-block" href="/logout">{{name}}</a>
               
                </div>                 
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
        
   

    <!--BODY FROM HANDLEBARS-->
    {{{body}}}



    {{#if dou}}
      <script src="../js/jquery-3.3.1.min.js"></script>
      <!-- https://jquery.com/download/ -->
      <script src="../jquery-ui-datepicker/jquery-ui.min.js"></script>
      <!-- https://jqueryui.com/download/ -->
      <script src="../js/bootstrap.min.js"></script>
      <!-- https://getbootstrap.com/ -->
      <script src="../js/shards-dashboards.1.1.0.js"></script>
      <script src="../js/shards-dashboards.1.1.0.min.js"></script>
      <script src="../js/extras.1.1.0.min.js"></script>

      {{else}}
      <script src="js/jquery-3.3.1.min.js"></script>
      <!-- https://jquery.com/download/ -->
      <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
      <!-- https://jqueryui.com/download/ -->
      <script src="js/bootstrap.min.js"></script>

      <script src="js/shards-dashboards.1.1.0.js"></script>
      <script src="js/shards-dashboards.1.1.0.min.js"></script>
      <script src="js/extras.1.1.0.min.js"></script>
    {{/if}}
      <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script>
  </body>
</html>
